html {
  font-family: Verdana;
  Background-color: Black;
  text-align:center;
}
h1 {
  font-family: Verdana;
  color: white;
  font-weight: normal;
  font-size: 50px;
}
h2 {
  color: white;
  font-weight: 300;
  font-size: 42px;
}
p {
  font-size: 20px;
  color: gray;
}
.download {
  color: aquamarine;
  font-size: 16px
  text: underline;
}
.copyright {
  text-align: right;
}
